.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    height:550px;
    width: 300px;
    margin:auto;
    gap: 20px;
    background-color:darkgray;
}

.display{
    width: 80%;
    height: 15%;
    margin:auto;
    display:flex;
    background-color: white;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.formula, .result{
    display:flex;
    
    height:auto;
    
    flex:1;
    text-align: right;

}

.keys{
    display:flex;
    width: 80%;
    height: 60%;
    margin-bottom:20px;
    align-self: center;
    flex-wrap:wrap;
    cursor:default;
}
.key{
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 5%;
    width:50px;
    height: auto;
    flex:1 1 auto;
    text-align: center;
    margin:1px;
    background-color: lightgray;
    
}

.key:hover{
    background-color: aqua;
}

#clear{
    width:80%;
    height:auto;
}
