.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    height:500px;
    width: 300px;
    margin:auto;
    gap: 20px;
}

.display{
    width: 80%;
    height: 20%;
    border: 2px solid red;
    align-self: center;
}

.keys{
    display:flex;
    width: 80%;
    height: 60%;
    border: 2px solid blue;
    align-self: center;
    flex-wrap:wrap;
}
.key{
    display:flex;
    justify-content:center;
    align-items: center;
    border:2px solid green;
    width:60px;
    height: auto;
    flex:1 1 auto;
    text-align: center;
    margin:1px;
    background-color: gray;
}
